<div th:fragment="js">
    <script
    th:src="@{/js/bootstrap.bundle.js}"
      src="../static/js/bootstrap.bundle.js"
    ></script>
          <script
          th:src="@{/js/jquery-3.6.0.min.js}"
            src="../static/js/jquery-3.6.0.min.js"
          ></script>
          <script
          th:src="@{/js/datatables.min.js}"
          ></script>
          <script
          th:src="@{/js/ajaxRequest.js}"
            src="../static/js/ajaxRequest.js"
          ></script>
          <script
          th:src="@{/js/autocomplete.js}"
            src="../static/js/autocomplete.js"
          ></script>
          <script>
     var token = $("meta[name='_csrf']").attr("content");
     var header = $("meta[name='_csrf_header']").attr("content");
     $("#logout").click(function() {
    $.ajax({
        url : 'logout',
        type : 'POST',
        data: token,
        beforeSend:function(xhr){
             xhr.setRequestHeader(header, token);
        },
        success : function(data) { 
            window.location ="/";    
        }, 
        error : function(data) {
            console.log(data);
        }
    });
          });
          </script>
</div>