<div th:fragment="sidemenu">
    <div class="d-flex h-100 flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
          <span class="fs-4">Lácteo Holguín</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a th:href="@{/}" th:classappend="${#request.getServletPath() == '/' ? 'active' : ''}" class="nav-link text-white" aria-current="page">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"/></svg>
              Chofer
            </a>
          </li>
          <li>
            <a th:href="@{/proveedores}" th:classappend="${#request.getServletPath() == '/proveedores' ? 'active' : ''}"  href="#" class="nav-link  text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"/></svg>
              Proveedor
            </a>
          </li>
          <li>
            <a th:href="@{/vales}" th:classappend="${#request.getServletPath() == '/vales' ? 'active' : ''}"  href="#" class="nav-link  text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"/></svg>
              Vales
            </a>
          </li>
          <li>
            <a th:href="@{/municipios}" th:classappend="${#request.getServletPath() == '/municipios' ? 'active' : ''}" class="nav-link text-white">
              <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"/></svg>
              Municipio
            </a>
          </li>
          <hr>
          <li>
            <div class="dropdown">
              <button class="btn w-100 btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Usuario: <span th:text="${username}"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">
                    <div id="logout">Salir</div>
                </a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
</div>

