<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Control Lacteo</title>
    <div th:replace="fragments/css:: css"></div>
  </head>
  <style>
    body{
        background-color: #f0ecec;
    }
  </style>
  <body>
      <div th:replace="fragments/svg:: svg"></div>
      <div class="container">
        <h1 class="m-2 text-center bg-light">Control Lácteo</h1>
        <div class="container d-flex">
            <div th:replace="fragments/sidemenu :: sidemenu"></div>
            <div class="container">
            <a name="" id="crearNuevoChocher"  onclick="addNew()" class="btn btn-primary float-end mb-3" href="#" role="button">Crear nuevo chofer</a>
            <div class="tabla-container">
            <table class="table  tabla-choferes">
            <thead>
              <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="chofer : ${choferes}">
                <td th:text="${chofer.nombre}" scope="row"><a href="#"></a> </td>
                <td th:text="${chofer.apellidos}" scope="row"><a href="#"></a> </td>
                <td><a  th:onclick="deseaEliminar([[${chofer.id}]], [[${chofer.nombre}]])"  href="#">Eliminar</a></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="container d-none control-datos-nombre-chofer">
            <form th:object="${Chofer}" th:action="@{/newChofer}" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                  >Nombre del Chofer</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreChoferInput"
                  th:field="*{nombre}"
                  value=""
                />
                <label for="exampleInputEmail1" class="form-label"
                  >Apellidos</label
                >
                <input
                  type="text"
                  class="form-control"
                  th:field="*{apellidos}"
                  id="apellidosChoferInput"
                  value=""
                />
                </div>
              <button type="submit" class="btn btn-primary crearNuevo">Crear</button>
            </form>

        </div>
      </div>
    <div th:replace="fragments/js:: js"></div>
    <script>
     $(document).ready( function () {
    var DataTable = $('.tabla-choferes').DataTable({
       dom: 'Bfrtip',
       
       buttons: [
       {
                extend: 'print',
                text:"Imprimir",
                exportOptions: {
                    columns: [0, 1]
                }
            },
            {
                extend: 'excelHtml5',
                text:"XLS",
                exportOptions: {
                    columns: [0, 1]
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1]
                }
            },
    ],
      language: {
            url: window.location.origin + '/js/es-AR.json'
        }
    });
} );

      async function deseaEliminar(id, nombre){
        let confirmation = window.confirm(`Desea eliminar al chofer ${nombre}?`);
        if(confirmation) {
          $.ajax({
            url: "/chofer/eliminar/" + id,
            type : 'DELETE',
        data: token,
        beforeSend:function(xhr){
             xhr.setRequestHeader(header, token);
        },
        success : function(data) { 
            window.location ="/";    
        }, 
        error : function(data) {
            console.log(data);
        }
          })
        }

      }
      
      let form = document.querySelector(".control-datos-nombre-chofer");
      let list = document.querySelector(".tabla-container");
      function addNew(){        
        form.classList.remove("d-none");
        list.classList.add("d-none");
      }

    </script>
  </body>
</html>
