<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Control Lacteo</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div th:replace="fragments/css:: css"></div>
  </head>
  <style>
    body{
        background-color: #f0ecec;
    }
  </style>
  <body>
      <div th:replace="fragments/svg:: svg"></div>
      <div class="container">
        <h1 class="m-2 text-center bg-light">Control Lacteo</h1>
        <div class="container d-flex">
            <div th:replace="fragments/sidemenu :: sidemenu"></div>
            <div class="container">
            <a name="" id="crearNuevoMunicipio" onclick="addNew()" class="btn btn-primary mb-2 float-end" href="#" role="button">Crear Municipio</a>
            <div class="tabla-container">
            <table class="table  tabla-municipios">
            <thead>
              <tr>
                <th scope="col">Nombre del municipio</th>
                <th scope="col">Cantidad de Leche</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="municipio: ${municipios}">
                <td th:text="${municipio.nombre}" scope="row"><a href="#"></a> </td>
                <td th:text="${municipio.cantidadDeLeche}" scope="row"><a href="#"></a> </td>
                <td><a  th:onclick="deseaEliminar([[${municipio.id}]], [[${municipio.nombre}]])"  href="#">Eliminar</a></td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="container d-none control-datos-nombre-municipio">
            <form autocomplete="off" th:object="${Municipio}" th:action="@{/nuevoMunicipio}" method="post">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label"
                >Nombre del municipio</label
              >
              <input
                type="text"
                class="form-control"
                id="nombre"
                required
                th:field="*{nombre}"
                value=""
              />
              <input
                type="text"
                class="form-control"
                id="cantidadDeLeche"
                required
                th:field="*{cantidadDeLeche}"
                value="1"
              />
              </div>
              <button type="submit" class="btn btn-primary crearNuevo">Crear</button>
            </form>
        </div>
      </div>
    <div th:replace="fragments/js:: js"></div>
  </body>
  <script>
        $(document).ready( function () {
    var DataTable = $('.tabla-municipios').DataTable({
      language: {
            url: window.location.origin + '/js/es-AR.json'
        }
    });
} );
     async function deseaEliminar(id, nombre){
      var url = "/municipio/eliminar/" + id;
      makeRequest(id, nombre, token, header, url, "DELETE", "/municipios" )
      }

      let form = document.querySelector(".control-datos-nombre-municipio");
      let list = document.querySelector(".tabla-container");
      function addNew(){        
        form.classList.remove("d-none");
        list.classList.add("d-none");
      }
  </script>
</html>
