<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Control Lacteo</title>
  <meta name="_csrf" th:content="${_csrf.token}" />
  <!-- default header name is X-CSRF-TOKEN -->
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <div th:replace="fragments/css:: css"></div>
</head>
<style>
  .autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }

  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }

  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

  body {
    background-color: #f0ecec;
  }
</style>

<body>
  <div th:replace="fragments/svg:: svg"></div>
  <div class="container">
    <h1 class="m-2 text-center bg-light">Control Lácteo</h1>
    <div class="container d-flex">
      <div th:replace="fragments/sidemenu :: sidemenu"></div>
      <div class="container">
        <a name="" id="crearNuevoChocher" onclick="addNew()" class="btn btn-primary float-end mb-2" href="#"
          role="button">Crear Proveedor</a>
        <div class="tabla-container">
          <table class="table  tabla-choferes">
            <thead>
              <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad de leche</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="proveedor: ${proveedores}">
                <td th:text="${proveedor.codigo}" scope="row"><a href="#"></a> </td>
                <td th:text="${proveedor.nombre}" scope="row"><a href="#"></a> </td>
                <td th:text="${proveedor.cantidadDeLeche}" scope="row"><a href="#"></a> </td>
                <td>
                  <a th:onclick="editarProveedor([[${proveedor.id}]], [[${proveedor.nombre}]], [[${proveedor.codigo}]], [[${proveedor.municipio}]])"
                    href="#">Editar</a>
                  <a th:onclick="deseaEliminar([[${proveedor.id}]], [[${proveedor.nombre}]])" href="#">Eliminar</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container d-none mt-3 control-datos-nombre-proveedor">
          <form autocomplete="off" th:object="${Proveedor}" onsubmit="checkValidation(event)" th:action="@{/newProvider}" method="post">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Código del Proveedor</label>
              <input type="number" class="form-control"   id="codigoProveedor" required th:field="*{codigo}" value="" />
              <label for="exampleInputEmail1" class="form-label">Nombre del Proveedor</label>
              <input type="text" required pattern="^[A-zÀ-ú\s]*$" oninvalid="getInvalid(this)"
                oninput="setCustomValidity('')" class="form-control" id="nombreProveedor" th:field="*{nombre}"
                value="" />

              <div class="autocomplete w-100">
                <label for="exampleInputEmail1" class="form-label">Municipio</label>
                <input type="text" pattern="^[A-zÀ-ú\s]*$" oninvalid="getInvalid(this)" oninput="setCustomValidity('')"
                  required class="form-control municipio" id="municipiosAutocomplete" th:field="*{municipio}"
                  value="" />
              </div>

            </div>
            <button type="submit" class="btn btn-primary crearNuevo">Crear</button>
            <a href="javascript: window.location.reload()" class="btn btn-secondary">Atrás</a>
          </form>
        </div>
      </div>
      <div th:replace="fragments/js:: js"></div>
      <script>
        $(document).ready(function () {
          var DataTable = $('.tabla-choferes').DataTable({
            dom: 'Bfrtip',

            buttons: [
              {
                extend: 'print',
                text: "Imprimir",
                exportOptions: {
                  columns: [0, 1, 2]
                }
              },
              {
                extend: 'excelHtml5',
                text: "XLS",
                title: "Proveedores",
                exportOptions: {
                  columns: [0, 1, 2]
                }
              },
              {
                extend: 'pdfHtml5',
                title: "Proveedores",
                exportOptions: {
                  columns: [0, 1, 2]
                }
              },
            ],
            language: {
              url: window.location.origin + '/js/es-AR.json'
            }
          });
        });
        
        function chequearValidacionDeMunicipios(){
			if(!municipios.includes(document.querySelector("#municipiosAutocomplete").value)){
				alert(`El municipio ${document.querySelector("#municipiosAutocomplete").value} no es válido`);
				return;
			}    
        }
        
       async function checkValidation(event){
        	event.preventDefault();
        	let codigos = await getCodigos();
        	chequearValidacionDeMunicipios();
        	if(!codigos.includes(document.querySelector("#codigoProveedor").value)){
        		event.target.submit();
        	} else{
        		alert(`El código ${document.querySelector("#codigoProveedor").value} ya existe`)
        	}
        }
       async function checkValidationForUpdate(event, initialCode){
        	event.preventDefault();
			if(!municipios.includes(document.querySelector("#municipiosAutocomplete").value)){
				alert(`El municipio ${document.querySelector("#municipiosAutocomplete").value} no es válido`);
				return;
			}    
        	let codigos = await getCodigos();
        	let valueInside = document.querySelector("#codigoProveedor").value;
        	let filteredCodes = codigos.filter(l => l !== initialCode);
        	console.log(initialCode,valueInside, filteredCodes);
        	if(initialCode != valueInside && !filteredCodes.includes(valueInside)){
        		event.target.submit();
        	}
        	else if(initialCode == valueInside){
        		event.target.submit();
        	}
        	else if(initialCode != valueInside && filteredCodes.includes(valueInside)) {
        		alert(`${valueInside} esta en uso`);
        	}
        	
        }
        
        async function getCodigos(){
        	let data = await makeRequestGet(token, header, "/getProviders", "/");
        	return data.map(p => p.codigo);
        }
        

        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        async function deseaEliminar(id, nombre) {
          var url = "/proveedor/eliminar/" + id;
          makeRequest(id, nombre, token, header, url, "DELETE", "/proveedores")
        }

        function editarProveedor(id, nombre, codigo, municipio) {
          addNew();
          document.querySelector("#crearNuevoChocher").classList.add("d-none");
          document.querySelector(".crearNuevo").textContent = "Actualizar";
          document.querySelector("#nombreProveedor").value = nombre;
          document.querySelector("#municipiosAutocomplete").value = municipio;
          let formulario = document.querySelector("div.container.control-datos-nombre-proveedor > form")
          document.querySelector("#codigoProveedor").value = codigo;
          formulario.setAttribute("onsubmit", `checkValidationForUpdate(event, ${codigo})`);
          formulario.action = `actualizarProveedor/${+id}`
        }

        function getInvalid(event) {
          if (event.validity.patternMismatch) event.setCustomValidity('El nombre no puede contener números')
        }

        let form = document.querySelector(".control-datos-nombre-proveedor");
        let list = document.querySelector(".tabla-container");
        function addNew() {
          form.classList.remove("d-none");
          list.classList.add("d-none");
        }
        let municipios = [
          "Antilla",
          "Báguanos",
          "Banes",
          "Cacocum",
          "Calixto García",
          "Cueto",
          "Frank País",
          "Gibara",
          "Holguín",
          "Mayarí",
          "Moa",
          "Rafael Freyre",
          "Sagua de Tánamo",
          "Urbano Noris"
        ];
        autocomplete(document.getElementById("municipiosAutocomplete"), municipios);
      </script>
</body>

</html>