<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Control Lacteo</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <div th:replace="fragments/css:: css"></div>
  </head>
  <style>
    .autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
    .autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}
.ruta{
  margin-right: 2rem;
}
    body{
        background-color: #f0ecec;
    }
  </style>
  <body>
    <div th:replace="fragments/svg:: svg"></div>
      <div class="container">
        <h1 class="m-2 text-center bg-light">Control Lácteo</h1>
        <div class="container d-flex">
            <div th:replace="fragments/sidemenu :: sidemenu"></div>
            <div class="container">
            <a name="" id="crearNuevoVale" onclick="addNew()" class="btn btn-primary float-end mb-2" href="#" role="button">Crear Vale</a>
            <select onchange=filterByYear(event) name="year" class="year" id="year">
              <option value="">Año</option>
              <option th:selected="${year==selectedYear}" th:each="year: ${years}"
              th:value="${year}"
              th:text="${year}">
            </select>
          <div class="tabla-container">
            <table class="table  tabla-vales">
              <thead>
                <tr>
                  <th data-orderable="false" scope="col">Meses</th>
                  <th scope="col">Cantidad de Leche</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="reg: ${registros}">
                  <td th:text="${reg.mes}" scope="row"></td>
                  <td th:text="${reg.cantidadDeLeche}" scope="row"></td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="container d-none mt-3 control-datos-nombre-proveedor">
            <form autocomplete="off" id="formvale"  onsubmit="getData(event)" method="post">
              <div class="mb-3">
                <div class="autocomplete w-100">
                  <label for="exampleInputEmail1" class="form-label"
                  >Nombre del chofer</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="nombreChoferInput"
                  name="nombreChofer"
                  required
                  value=""
                />
                </div>

              <label for="exampleInputEmail1" class="form-label"
                  >Fecha</label
                >
                <input
                  type="date"
                  required
                  class="form-control"
                  id="fechaInput"
                  name="fecha"
                  value=""
                />
                <div class="d-flex">
                  <div class="ruta py-2">
                    <label for="exampleInputEmail1" class="form-label"
                    >Ruta</label
                  >
                  <input
                    type="text"
                    required
                    class="form-control"
                     name="ruta"
                    id="rutaInput"
                    value="44"
                  />
                  </div>
                  <div class="cantidadDeLeche py-2">
                    <label for="exampleInputEmail1" class="form-label"
                    >Cantidad de Leche segun Pesa</label
                  >
                  <input
                    type="number"
                    required
                    class="form-control"
                    id="cantidadSegunPesa"
                    name="cantidadSegunPesa"
                    onchange="calculateDiference()"
                    value="0"
                  />
                  </div>
            
                </div>

                <div class="d-flex justify-content-between bg-light p-1">
                  <div class="numeroDeVale py-2">
                    <label for="exampleInputEmail1" class="form-label"
                    >Numero de vale</label
                  >
                  <input
                    type="text"
                    required
                    class="form-control"
                    id="numeroDeVale"
                    name="numeroDeVale0"
                    value=""
                  />
                  </div>
                  <div class="proovedorCodigo py-2">
                    <label for="exampleInputEmail1" class="form-label"
                    >Proovedor</label
                  >
                  <input
                    type="number"
                    required
                    class="form-control"
                    id="proovedorCodigo"
                    name="proovedorCodigo0"
                    value="009"
                  />
                  </div>
                  <div class="cantidadLeche py-2">
                    <label for="exampleInputEmail1" class="form-label"
                    >Cantidad de Leche</label
                  >
                  <input
                    type="number"
                    required
                    class="form-control"
                    id="cantidadLeche"
                    name="cantidadLeche0"
                    onchange="calculateDiference()"
                    value="0"
                  />
                  </div>
                  <div class="plusIcon">
                    <img style="cursor: pointer;" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAAiUlEQVRIie2WOw6AIAxAn8ZT+dkl3v8C4D1wMAwaEpHWgdiXsLW8toEAGH9kA3YgKq0AuBJxUJSm5e+SLiOOJdVVcHH1H0kekYgnYKlNlow65b6NBxodtYnF3C//WLHHnNnnQknHuZMvzrHrZOLPGAS5E4LC7T2G87+lTSgJcuj+uzywKjZhNMIB+71PTa5DlQgAAAAASUVORK5CYII=">
                  </div>
                </div>
                <div class="totals bg-light d-flex">
                  <p style="margin-right: 2rem;">Total: <span class="total">0</span></p>
                  <p>Diferencia: <span class="diferencia">0</span></p>
                </div>
                </div>
              <button type="submit" class="btn btn-primary crearNuevo">Crear</button>
              <a href="javascript: window.location.reload()"  class="btn btn-secondary">Atras</a>
            </form>
        </div>
      </div>
      <div th:replace="fragments/js:: js"></div>
      <script>
        $(document).ready( function () {
    var DataTable = $('.tabla-vales').DataTable({
      dom: 'Bfrtip',
      "order": [],
      "pageLength": 5,
       buttons: [
       {
                extend: 'print',
                text:"Imprimir",
                exportOptions: {
                    columns: [ 0]
                }
            },
            {
                extend: 'excelHtml5',
                text:"XLS",
                exportOptions: {
                    columns: ':visible'
                }
            },
            {
                extend: 'pdfHtml5',
                exportOptions: {
                    columns: [ 0, 1, 2]
                }
            },
    ],
      language: {
            url: window.location.origin + '/js/es-AR.json'
        }
    });
} );
     var token = $("meta[name='_csrf']").attr("content");
     var header = $("meta[name='_csrf_header']").attr("content");

     async function getData(event) {
      event.preventDefault();
      var mes = new Date($("#fechaInput").val()).toLocaleString("es-ES", {month:"long"});
      var año = new Date($("#fechaInput").val()).getFullYear();
      var data = { "mes": mes, "year": año, "cantidadDeLeche": +$("#cantidadLeche").val()};
      console.log(data);
      let url  =  "/newRegistry";
      let redirectTo = "/vales";
      makeRequestPost(token, header, url, data, redirectTo);
      }
     async function filterByYear(event) {
      console.log(event.target.value)
      if(event.target.value == "") 
      {window.location= '/vales';} else {
      event.preventDefault();
      let url  =  `/filterByYear/${event.target.value}`;
      window.location = url;
      }
      }

     async function deseaEliminar(id, nombre){
      var url = "/proveedor/eliminar/" + id;
      makeRequest(id, nombre, token, header, url, "DELETE", "/proveedores" )
      }

      let form = document.querySelector(".control-datos-nombre-proveedor");
      let list = document.querySelector(".tabla-container");
      let diferencia = document.querySelector(".diferencia");
      let yearSelector = document.querySelector(".year");
      let crearNuevoVale = document.querySelector("#crearNuevoVale");
      let cantidadLeche = document.querySelector("#cantidadLeche");
      let cantidadSegunPesa = document.querySelector("#cantidadSegunPesa");
      function calculateDiference(){
        diferencia.textContent = cantidadSegunPesa.value - cantidadLeche.value;  
      }
      let nombres = [];
      function addNew(){        
        $(function(){
            $.getJSON("http://localhost:8080/driversByName", function(data) {
              nombres = data.map((i) => i[0] + " " +  i[1]);
              autocomplete(document.getElementById("nombreChoferInput"), nombres);
        });
        })

        form.classList.remove("d-none");
        list.classList.add("d-none");
        yearSelector.classList.add("d-none");
        crearNuevoVale.classList.add("d-none");
      }


      </script>
  </body>
</html>
